@charset "UTF-8";
/*estilo para impressoras*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    list-style: 1.5em;
}
menu {
    display: none;
}
article::after{
    content: 'Esse artigo foi impresso para exercicio do curso em video';
}
article{
    width: 100%;
}